.accountCreationWindow {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 700px;
  padding: 40px;
  background-color: white;
  border-radius: 30px;
  position: relative;
}

.accountCreationContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 56px;
}

.logo-container {
  gap: 16px;

  >img {
    width: 80px;
    height: 80px;
  }

  >span {
    font-weight: 700;
    font-size: 32px;
  }
}

.arrowBack {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 60px;
  left: 32px;
  border-radius: 100%;
  background-image: url(../../../assets/icons/creation_screens/arrow_back_black.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
    background-image: url(../../../assets/icons/creation_screens/arrow_back_violet.svg);
  }
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  color: #444df2;

  @media (max-width: 650px) {
    line-height: 1.2 !important;
    word-break: break-word;
    overflow-wrap: break-word;
  }
}

.accountCreationDesc {
  text-align: center;
  font-size: 20px;
}

.textGray {
  color: #686868;
}

.accountCreationInput {
  display: flex;
  flex-direction: column;

  input {
    padding: 18px 32px 18px 64px;
    border-radius: 100px;
    background-color: #eceefe;
    border: 2px solid transparent !important;
    color: #686868;
    font-size: 18px;
    outline: none;

    &:hover {
      border: 2px solid #686868 !important;
    }

    &:focus {
      border: 2px solid #444df2 !important;
      color: black;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  input.invalid:-webkit-autofill {
    box-shadow: 0 0 0px 1000px rgb(255, 205, 205) inset !important;
    color: #ed1e79 !important;
  }

  input.invalid {
    background-color: rgb(255, 205, 205) !important;
    color: #ed1e79 !important;

    &:hover {
      border: 2px solid rgb(255, 115, 115) !important;
    }

    &:focus {
      border: 2px solid red !important;
    }
  }

  input.invalid::placeholder {
    color: rgb(253, 99, 99);
  }

  span {
    color: #ed1e79;
    height: 28px;
    font-size: 14px;
  }
}

.validError {
  color: #ed1e79;
  height: 28px;
  font-size: 14px;
}

input[type="email"] {
  background-image: url(../../../assets/icons/create_user/letter_grey.svg) !important;
  background-repeat: no-repeat;
  background-position: 24px 50%;
  background-size: 24px 24px;

  &:focus {
    background-image: url(../../../assets/icons/create_user/letter_black.svg) !important;
  }
}

input[type="email"].invalid {
  background-image: url(../../../assets/icons/create_user/letter_red.svg) !important;
}

.continueButton {
  display: flex;
  justify-content: flex-end;

  button {
    border-radius: 25px;
    padding: 25px;
    background-color: #444df2;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }

  button.disabled {
    background-color: gray;
  }
}