<section>
  <div class="login-header dFlex_ac">
    <div class="logo-container dFlex_ac_jc">
      <img class="logo" src="/assets/img/logo.png" alt="" />
      <span>DABubble</span>
    </div>
  </div>
  <div class="accountCreationContent">
    <div class="accountCreationWindow">
      <a routerLink="/"><div class="arrowBack"></div></a>
      <h1>Passwort Zurücksetzen</h1>
      <p class="accountCreationDesc">
        Bitte geben Sie Ihre E-Mail-Adresse ein.
      </p>
      <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
        <div class="accountCreationInput">
          <div class="directionColumn">
            <input
              #email="ngModel"
              [(ngModel)]="contactData.email"
              type="email"
              placeholder="beispielname@email.com"
              name="email"
              id="email"
              required
              (input)="onEmailInput()"
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              [class.invalid]="(!email.valid && email.touched) || !emailExists"
            />
            @if(!email.valid && email.touched) {
            <span class="entryError"
              >*Bitte geben Sie eine gültige Email ein</span
            >
            } @else if (!emailExists) {
            <span class="entryError">*Diese Email ist nicht registriert</span>
            } @else {
            <div class="height28"></div>
            }
          </div>
        </div>
        <p class="accountCreationDesc textGray">
          Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
        </p>
        <div class="continueButton">
          <button
            mat-raised-button
            [class.disabled]="!userForm.valid"
            [disabled]="!userForm.valid"
            type="submit"
          >
            Weiter
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
