<section>
  <app-create-user
    *ngIf="showOverlay"
    [overlayText]="'User erfolgreich angelegt!'"
  ></app-create-user>
  <div class="login-header dFlex_ac">
    <div class="logo-container dFlex_ac_jc">
      <img class="logo" src="/assets/img/logo.png" alt="" />
      <span>DABubble</span>
    </div>
  </div>
  <div class="accountCreationContent">
    <div class="accountCreationWindow">
      <a routerLink="/accountCreation"><div class="arrowBack"></div></a>
      <h1>Wähle deinen Avatar</h1>
      <div class="profilePicture">
        <img
          class="selectedAvatar"
          [src]="selectedAvatar"
          alt="Selected Avatar"
        />
      </div>
      <div class="avatarSelectionFields">
        <h2>{{ userName }}</h2>
        <p>Aus der Liste wählen</p>
        <div class="avatarPictures">
          <img
            *ngFor="let imageUrl of profileArray; let i = index"
            [src]="imageUrl"
            [alt]="i"
            (click)="this.changeAvatar(i)"
          />
        </div>
      </div>

      <div class="continueButton">
        <button mat-raised-button type="submit" (click)="this.successMove()">
          Weiter
        </button>
      </div>
    </div>
  </div>
</section>
