<section>
  <div class="login-header dFlex_ac">
    <div class="logo-container dFlex_ac_jc">
      <img class="logo" src="/assets/img/logo.png" alt="" />
      <span>DABubble</span>
    </div>
  </div>
  <div class="accountCreationContent">
    <div class="accountCreationWindow">
      <a routerLink="/accountCreation"><div class="arrowBack"></div></a>
      <h1>Wähle deinen Avatar</h1>

      <div class="continueButton">
        <button mat-raised-button type="submit">Weiter</button>
      </div>
    </div>
  </div>
</section>
