.accountCreationWindow {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 606px;
  padding: 40px;
  background-color: white;
  border-radius: 30px;
  position: relative;
}

.accountCreationContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header {
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 56px;
  display: flex;
  align-items: flex-start;
  margin: auto;
}

.logo-container {
  gap: 16px;

  > img {
    width: 80px;
    height: 80px;
    //opacity: 0;
    //animation: fadeInLogo 0.5s ease-in-out 0.4s forwards;
  }

  > span {
    font-weight: 700;
    font-size: 32px;
    //opacity: 0;
    //animation: fadeInText 0.5s ease-in-out 0.5s forwards;
  }
}

.arrowBack {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 45px;
  left: 32px;
  border-radius: 100%;
  background-image: url(../../../assets/icons/creation_screens/arrow_back_black.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  &:hover {
    background-color: #eceefe;
    background-image: url(../../../assets/icons/creation_screens/arrow_back_violet.svg);
  }
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  color: #444df2;
}

.avatarSelectionFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  p {
    font-weight: 400;
    font-size: 20px;
  }
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
  }
}

.avatarPictures {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 4px solid transparent;
    cursor: pointer;
    &:hover {
      border: 4px solid #e6e6e6;
    }
    &:active {
      border: 4px solid #eceefe;
    }
  }
}

.continueButton {
  display: flex;
  justify-content: flex-end;
  button {
    border-radius: 25px;
    padding: 25px;
    background-color: #444df2;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  button.disabled {
    background-color: gray;
  }
}

.selectedAvatar {
  width: 168px;
  height: 168px;
  border-radius: 100%;
}

.profilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  h1 {
    font-size: 32px;
  }

  .login-header {
    justify-content: center;
  }

  .accountCreationDesc {
    font-size: 17px;
  }

  .accountCreationWindow {
    padding: 32px 16px;
  }

  .accountCreationContent {
    padding: 0;
    gap: 20px;
  }

  .login-buttons-div {
    gap: 20px;
    button {
      padding: 12px;
    }
  }

  .accountCreationInput {
    input {
      padding: 18px 18px 18px 32px;
    }
  }
}

@media (max-width: 500px) {
  .arrowBack {
    top: 32px;
    left: 24px;
  }
}
