<p>password-reset works!</p>
<section>
  <div class="login-header dFlex_ac">
    <div class="logo-container dFlex_ac_jc">
      <img class="logo" src="/assets/img/logo.png" alt="" />
      <span>DABubble</span>
    </div>
  </div>
  <div class="accountCreationContent">
    <div class="accountCreationWindow">
      <a routerLink="/"><div class="arrowBack"></div></a>
      <h1>Passwort zurücksetzen</h1>
      <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
        <div class="accountCreationInput">
          <div class="directionColumn">
            <input
              #password="ngModel"
              [(ngModel)]="contactData.password"
              type="password"
              placeholder="Passwort"
              name="password"
              id="password"
              title="Das Passwort muss min. 8 lang sein, 1x Großbuchstaben, 1x Zahl und 1x speziellen Character enthalten"
              required
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z0-9]).{8,}$"
              [class.invalid]="!password.valid && password.touched"
            />
            @if (!password.valid && password.touched) {
            <span class="entryError">
              *Bitte geben Sie ein gültiges Passwort ein
            </span>
            } @else {
            <div class="height28"></div>
            }
          </div>

          <input
            #passwordMatch="ngModel"
            [(ngModel)]="contactData.passwordMatch"
            type="password"
            name="passwordMatch"
            required
            [class.invalid]="passwordMatch.touched && !passwordsMatch()"
          />
          @if (passwordMatch.touched && !passwordsMatch()) {
          <span class="entryError">
            *Die Passwörter stimmen nicht überein
          </span>
          } @else {
          <div class="height28"></div>
          }
        </div>

        <div class="continueButton">
          <button
            mat-raised-button
            [class.disabled]="!userForm.valid || !passwordsMatch()"
            [disabled]="!userForm.valid || !passwordsMatch()"
            type="submit"
          >
            Weiter
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
