<section>
  <div class="login-header">
    <div class="logo-container dFlex_ac_jc">
      <img class="logo" src="/assets/img/logo.png" alt="" />
      <span>DABubble</span>
    </div>
  </div>
  <div class="accountCreationContent">
    <div class="accountCreationWindow">
      <a routerLink="/"><div class="arrowBack"></div></a>
      <h1>Konto erstellen</h1>
      <p class="accountCreationDesc">
        Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
        DABubble-Konto.
      </p>
      <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
        <div class="accountCreationInput">
          <div class="directionColumn">
            <input
              #name="ngModel"
              minlength="4"
              [(ngModel)]="contactData.name"
              type="text"
              name="personName"
              placeholder="Name und Nachname"
              [class.invalid]="!name.valid && name.touched"
              required
              id="name"
            />
            @if(!name.valid && name.touched) {
            <span class="entryError"
              >*Bitte geben Sie einen gültigen Namen ein</span
            >
            } @else {
            <div class="height28"></div>
            }
          </div>
          <div class="directionColumn">
            <input
              #email="ngModel"
              [(ngModel)]="contactData.email"
              type="email"
              placeholder="beispielname@email.com"
              name="email"
              id="email"
              required
              (input)="onEmailInput()"
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              [class.invalid]="(!email.valid && email.touched) || isDuplicate"
            />
            @if(!email.valid && email.touched) {
            <span class="entryError"
              >*Bitte geben Sie eine gültige Email ein</span
            >
            } @else if (isDuplicate) {
            <span class="entryError">*Diese Email ist bereits vergeben</span>
            } @else {
            <div class="height28"></div>
            }
          </div>
          <div class="directionColumn input-group">
            <input
              #password="ngModel"
              [(ngModel)]="contactData.password"
              type="password"
              placeholder="Passwort"
              name="password"
              id="password"
              title="Das Passwort muss min. 8 lang sein, 1x Großbuchstaben, 1x Zahl und 1x Sonderzeichen enthalten"
              required
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z0-9]).{8,}$"
              [class.invalid]="!password.valid && password.touched"
            />
            <label class="input-hint"
              >Das Passwort muss min. 8 lang sein, 1x Großbuchstaben, 1x Zahl
              und 1x Sonderzeichen enthalten</label
            >
            @if(!password.valid && password.touched) {
            <span class="entryError"
              >*Bitte geben Sie ein gültiges Passwort ein</span
            >
            } @else {
            <div class="height28"></div>
            }
          </div>
        </div>
        <div class="directionColumn">
          <div
            class="accountCreationPrivacy"
            [class.invalid]="!check.valid && check.touched"
          >
            <label class="customCheckbox">
              <input
                type="checkbox"
                id="privacyCheck"
                name="privacyCheck"
                [(ngModel)]="contactData.privacyAccepted"
                #check="ngModel"
                required
              />
              <span class="checkmark"></span>
            </label>
            <p>
              Ich stimme der
              <a routerLink="/privacy">Datenschutzerklärung </a>zu
            </p>
          </div>
          @if(!check.valid && check.touched) {
          <span class="validError"
            >*Bitte lesen und akzeptieren Sie die Datenschutzbestimmung</span
          >
          } @else {
          <div class="height28"></div>
          }
        </div>
        <div class="continueButton">
          <button
            mat-raised-button
            [class.disabled]="!userForm.valid"
            [disabled]="!userForm.valid"
            type="submit"
          >
            Weiter
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
