.accountCreationWindow {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 660px;
  padding: 40px;
  background-color: white;
  border-radius: 30px;
  position: relative;
}

.accountCreationContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 56px;
}

.logo-container {
  gap: 16px;

  > img {
    width: 80px;
    height: 80px;
    //opacity: 0;
    //animation: fadeInLogo 0.5s ease-in-out 0.4s forwards;
  }

  > span {
    font-weight: 700;
    font-size: 32px;
    //opacity: 0;
    //animation: fadeInText 0.5s ease-in-out 0.5s forwards;
  }
}

.arrowBack {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 45px;
  left: 32px;
  border-radius: 100%;
  background-image: url(../../../assets/icons/creation_screens/arrow_back_black.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  &:hover {
    background-color: #eceefe;
    background-image: url(../../../assets/icons/creation_screens/arrow_back_violet.svg);
  }
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  color: #444df2;
}

.accountCreationDesc {
  text-align: center;
  font-size: 20px;
}

.accountCreationInput {
  display: flex;
  flex-direction: column;
  input {
    padding: 18px 32px 18px 64px;
    border-radius: 100px;
    background-color: #eceefe;
    border: 2px solid transparent !important;
    color: #686868;
    font-size: 18px;
    outline: none;
    &:hover {
      border: 2px solid #686868 !important;
    }
    &:focus {
      border: 2px solid #444df2 !important;
      color: black;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  input.invalid:-webkit-autofill {
    box-shadow: 0 0 0px 1000px rgb(255, 205, 205) inset !important;
    color: #ed1e79 !important;
  }

  input.invalid {
    background-color: rgb(255, 205, 205) !important;
    color: #ed1e79 !important;

    &:hover {
      border: 2px solid rgb(255, 115, 115) !important;
    }
    &:focus {
      border: 2px solid red !important;
    }
  }
  input.invalid::placeholder {
    color: rgb(253, 99, 99);
  }

  span {
    color: #ed1e79;
    height: 28px;
    font-size: 14px;
  }
}

.validError {
  color: #ed1e79;
  height: 28px;
  font-size: 14px;
}

input[type="text"] {
  background-image: url(../../../assets/icons/create_user/person_grey.svg);
  background-repeat: no-repeat;
  background-position: 24px 50%;
  background-size: 24px 24px;
  &:focus {
    background-image: url(../../../assets/icons/create_user/person_black.svg);
  }
}

input[type="text"].invalid {
  background-image: url(../../../assets/icons/create_user/person_red.svg);
}

input[type="email"] {
  background-image: url(../../../assets/icons/create_user/letter_grey.svg) !important;
  background-repeat: no-repeat;
  background-position: 24px 50%;
  background-size: 24px 24px;
  &:focus {
    background-image: url(../../../assets/icons/create_user/letter_black.svg) !important;
  }
}

input[type="email"].invalid {
  background-image: url(../../../assets/icons/create_user/letter_red.svg) !important;
}

input[type="password"] {
  background-image: url(../../../assets/icons/create_user/lock_grey.svg);
  background-repeat: no-repeat;
  background-position: 24px 50%;
  background-size: 24px 24px;
  &:focus {
    background-image: url(../../../assets/icons/create_user/lock_black.svg);
  }
}

input[type="password"].invalid {
  background-image: url(../../../assets/icons/create_user/lock_red.svg) !important;
  background-color: rgb(255, 205, 205);
  color: #ed1e79;
}

.accountCreationPrivacy {
  display: flex;
  gap: 6px;
  align-items: center;
  p {
    margin-bottom: 0;
    color: #42526e;
  }
  a {
    color: #797ef3;
    text-decoration: none;
    &:hover {
      background-color: #eceefe;
    }
  }
}

.accountCreationPrivacy.invalid {
  p {
    color: #ed1e79 !important;
    font-weight: 700;
    font-size: 14px;
  }
}

.continueButton {
  display: flex;
  justify-content: flex-end;
  button {
    border-radius: 25px;
    padding: 25px;
    background-color: #444df2;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  button.disabled {
    background-color: gray;
  }
}

.customCheckbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  padding-left: 32px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid #797ef3;
    border-radius: 4px;
    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  input:checked ~ .checkmark {
    background-color: #797ef3; /* Violet fill */
    border-color: #797ef3;

    &::after {
      display: block;
    }
  }

  &:hover .checkmark {
    border-color: #5e47d2;
  }
}
