<section class="accountCreationWindow">
  <h1>Konto erstellen</h1>
  <p class="accountCreationDesc">
    Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
    DABubble-Konto.
  </p>
  <div class="accountCreationInput">
    <input type="text" placeholder="Name und Nachname" />
    <input type="email" placeholder="beispielname@email.com" />
    <input type="password" placeholder="Passwort" />
  </div>
  <div class="accountCreationPrivacy">
    <input type="checkbox" />
    <p>Ich stimme der Datenschutzerklärung zu</p>
  </div>
  <div class="continueButton">
    <button mat-raised-button>Weiter</button>
  </div>
</section>
