.profilePic {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  span {
    font-weight: 700;
    font-size: 32px;
  }
}

.searchContainer {
  position: relative;
  max-width: 989px;
  width: 65%;

  button {
    position: absolute;
    right: 45px;
    top: 0;
  }

  @media (max-width: 950px) {
    display: none;
  }
}

.searchInput {
  border-radius: 42px;
  background-color: white;
  padding: 17.5px 45px;
  border-style: none;
  width: 100%;
}

/* musste definiert werden, da es mit dem Design interferiert hat */
.mat-toolbar-multiple-rows {
  display: flex;
  flex-direction: unset;
}

.mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 950px) {
    padding: 0 16px;
  }
}

.mat-drawer-container {
  height: 100vh;
}

.windowSetup {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  cursor: pointer;
}

mat-toolbar {
  max-width: 1440px;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-toolbar,
mat-toolbar-row {
  background-color: #eceefe;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 48px;
    gap: 8px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &:focus {
      outline: none;
    }
  }
}

.router-container {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 16px;
}

.logo {
  height: 40px;
  width: 40px;
  padding: 8px;
}

.toolbar_top {
  justify-content: space-between;
  gap: 16px;
}

.dropdown-btn {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url(../../../assets/icons/header/arrow_down_black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.actual_user:hover .profileSpan {
  color: #797ef3;
}

.actual_user:hover .dropdown-btn {
  background-image: url(../../../assets/icons/header/arrow_down_purple.svg);
}

.actual_user {
  gap: 20px;
  position: relative;
  cursor: pointer;

  span {
    font-size: 32px;
    font-weight: 700;

    @media (max-width: 600px) {
      display: none;
    }
  }

  .status-container {
    position: relative;
    width: 70px;
    height: 70px;

    .status-circle {
      position: absolute;
      bottom: 4px;
      right: 0;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background-color: #72c968;
      border: 2px solid #eceefe;
    }
  }
}

::ng-deep .profile-dropdown-menu {
  min-width: 200px !important;
  margin-top: 8px;
  overflow: hidden !important;
}

::ng-deep .mat-mdc-menu-panel {
  height: 181px !important;
  width: 282px !important;
  overflow: hidden !important;
  border-radius: 30px 0px 30px 30px !important;
  display: flex;
  align-items: center;

  .mat-mdc-menu-content {
    width: 100%;
    padding: 16px 0;

    .mat-mdc-menu-item {
      height: 64px !important;
      font-size: 32px !important;
      font-weight: 700 !important;
      font-family: "Nunito", Arial, Helvetica, sans-serif;
      padding: 10px 24px !important;
      display: flex;
      justify-content: center !important;
      align-items: center;

      .mat-mdc-menu-item-text {
        display: flex;
        align-items: center;
        justify-content: center !important;
        width: 100%;
        font-size: 18px;
        font-weight: 800;

        box-sizing: border-box;
        border-radius: 32px;

        .mat-menu-button-img {
          height: 30px;
          width: 30px;
        }
      }

      &:hover {
        background-color: #eceefe;
        color: #535af1;
        border-radius: 32px !important;

        .mat-menu-button-img {
          filter: brightness(0) saturate(100%) invert(35%) sepia(91%)
            saturate(3601%) hue-rotate(229deg) brightness(97%) contrast(95%);
        }
      }
    }
  }
}

.mat-menu-button-img {
  height: 24px;
  width: 24px;
}

.dFlex_ac {
  display: flex;
  align-items: center;
}
