<mat-toolbar>
  <mat-toolbar-row class="toolbar_top dFlex">
    <div class="logo-container">
      <img class="logo" src="/assets/img/logo.png" alt="" />
      <span>DABubble</span>
    </div>
    <div class="searchContainer">
      <input
        class="searchInput"
        matInput
        type="search"
        placeholder="Space durchsuchen"
      />
      <button matSuffix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="actual_user dFlex_ac">
      <!-- Hier wird der Benutzername angezeigt -->
      <span>{{ userName }}</span>
      <div class="status-container">
        <img class="profilePic" [src]="userImage" alt="profile_picture" />
        <div class="status-circle online"></div>
      </div>

      <!-- Drop-Down-Button -->
      <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="dropdown-btn">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      
      <!-- Drop-Down-Menü -->
      <mat-menu #profileMenu="matMenu" panelClass="profile-dropdown-menu">
        <button mat-menu-item (click)="openProfileDialog()">
          <span class="mat-mdc-menu-item-text">
            Profil
          </span>
        </button>
        <button mat-menu-item (click)="LogOut()">
          <span class="mat-mdc-menu-item-text">
            Log out
          </span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>