<div class="login-container dFlex_ac">
  <div class="login-header dFlex_ac">
    <div class="logo-container dFlex_ac_jc">
      <img class="logo" src="/assets/img/logo.png" alt="" />
      <span>DABubble</span>
    </div>

    <div class="register-container dFlex">
      <span>Neu bei DABubble?</span>
      <a routerLink="/accountCreation"> Konto erstellen </a>
    </div>
  </div>

  <div class="login-dialog dFlex_ac p-32">
    <h1 class="dark-blue">Anmeldung</h1>
    <span class="helper-text"
      >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der
      Arbeitverwendest.</span
    >
    <div class="input_div dFlex">
      <input
        class="input-field email"
        type="email"
        placeholder="beispielname@email.com"
        [formControl]="emailControl"
      />
      <div
        class="error-text"
        [class.visible]="emailControl.invalid && emailControl.touched"
      >
        Bitte gib eine gültige E-Mail-Adresse ein.
      </div>
    </div>

    <div class="input_div dFlex">
      <input
        class="input-field password"
        type="password"
        placeholder="Passwort"
        [formControl]="passwordControl"
      />
      <div
        class="error-text"
        [class.visible]="passwordControl.invalid && passwordControl.touched"
      >
        Bitte gib ein gültiges Passwort ein.
      </div>
    </div>

    <a class="reset-password" routerLink="/auth/request-password-reset" href="">
      <span>Passwort vergessen?</span>
    </a>

    <div class="login-border"></div>
    <div class="login-border-word">Oder</div>

    <!-- <div #googleBtn></div> -->
    <button class="custom-google-button" (click)="triggerGoogleLogin()">
      <img src="assets/icons/google-logo.png" alt="Google Logo" />
      <span class="dark-blue">Anmelden mit Google</span>
    </button>

    <div class="login-buttons-div dFlex">
      <button class="login-button" (click)="doLogin()">Anmelden</button>
      <button class="guest-login-button" (click)="guestLogin()">
        Gäste-Login
      </button>
    </div>
  </div>

  <footer class="dFlex">
    <a href="">Impressum</a>
    <a href="">Datenschutz</a>
  </footer>
</div>
