<div class="login-container dFlex_ac">
  <div class="login-header dFlex_ac">
    <div class="logo-container dFlex_ac_jc">
      <img class="logo" src="/assets/img/logo.png" alt="" />
      <span>DABubble</span>
    </div>

    <div id="register-container-top" class="register-container dFlex">
      <span>Neu bei DABubble?</span>
      <a routerLink="/accountCreation"> Konto erstellen </a>
    </div>
  </div>

  <div class="login-dialog dFlex_ac p-32">
    <h1 class="dark-blue">Anmeldung</h1>
    <span class="helper-text"
      >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.</span
    >
    <form [formGroup]="loginForm">
      <div class="input_div dFlex">
        <input
          class="input-field email"
          type="email"
          placeholder="beispielname@email.com"
          formControlName="email"
        />
        <div
          class="error-text"
          [class.visible]="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        >
          Bitte gib eine gültige E-Mail-Adresse ein.
        </div>
      </div>

      <div class="input_div dFlex">
        <input
          class="input-field password"
          type="password"
          placeholder="Passwort"
          formControlName="password"
        />
        <div
          class="error-text"
          [class.visible]="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          Bitte gib ein gültiges Passwort ein.
        </div>
      </div>
    </form>
    <a class="reset-password" routerLink="/password" href="">
      <span>Passwort vergessen?</span>
    </a>

    <div class="login-border"></div>
    <div class="login-border-word">Oder</div>

    <!-- <div #googleBtn></div>
    <div #googleButton id="google-button"></div> -->

    <button type="button" class="input-field dFlex_ac_jc">
      <img src="./assets/icons/google-logo.png" alt="Google" />
      Anmelden mit Google
    </button>

    <div class="login-buttons-div dFlex">
      <button class="login-button" (click)="onLoginClick()">Anmelden</button>
      <button class="guest-login-button" (click)="guestLogin()">
        Gäste-Login
      </button>
    </div>
  </div>

  <div id="register-container-bottom" class="register-container dFlex">
    <span>Neu bei DABubble?</span>
    <a routerLink="/accountCreation"> Konto erstellen </a>
  </div>

  <footer class="dFlex">
    <a [routerLink]="['/impressum']">Impressum</a>
    <a [routerLink]="['/privacy']">Datenschutz</a>
  </footer>
</div>
