.login-container {
    flex-direction: column;
}

.login-header {
    width: 100%;
    box-sizing: border-box;

    justify-content: space-between;

    padding: 56px;
}

.register-container {}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;


    >img {
        width: 80px;
        height: 80px;
    }

    >span {
        font-weight: 700;
        font-size: 32px;
    }
}


.login-dialog {
    height: 500px;
    width: 600px;
    background-color: white;

    border-radius: 20px;

    flex-direction: column;
}