<app-intro *ngIf="!(isLoggedIn$ | async)"></app-intro>

<div class="windowSetup" *ngIf="isLoggedIn$ | async">
  <app-header></app-header>

  <button class="toggle-sidebar-button dFlex_ac_jc" (click)="toggleSidebar()">
    {{ showSidebar ? "Workspace-Menü schließen" : "Workspace-Menü öffnen" }}
    <img [src]="showSidebar ? '/assets/icons/close-sidebar.svg' : '/assets/icons/open-sidebar.svg'" alt="" />
  </button>

  <div class="main-layout">
    <div *ngIf="showSidebar" class="sidebar-container">
      <app-sidebar @fadeSlideSidebar></app-sidebar>
    </div>

    <div class="router-container" [class.hidden]="isMobilePortrait && showSidebar">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>