.main-layout {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 16px;
}


.toggle-sidebar-button {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: left top;
  color: black;
  background-color: white;
  padding: 8px 16px;
  width: 350px;
  height: 40px;
  border: none;
  border-radius: 0 0 30px 30px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: -6px 6px 13px -1px rgba(0,0,0,0.6);

  font-size: 20px;
  font-weight: 500;
  gap: 8px;

  >img{
    height: 16px;
    width: 16px;
    transform: rotate(+90deg);
  }
}



@media (orientation: portrait) {


  app-sidebar {
  width: 100%;
  margin: 0;
  }

}
