.devspace-container {
  height: 100vh;
  margin: 0 30px;
  background-color: white;
  border-radius: 30px;
}

.devspace-header {
  justify-content: space-between;

  >div {
    gap: 16px;

    >span {
      font-weight: 500;
      font-size: 24px;
    }
  }
}

.new-message-button {}

// .windowSetup {
//   display: flex;
//   flex-direction: column;
// }

.sidenav {
  width: 300px;
  display: block;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 48px;
    gap: 8px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);

    }

    &:focus {
      outline: none;
    }
  }
}

.router-container {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 16px;
}

.logo {
  height: 40px;
  padding: 8px;
}

.toolbar_top {
  justify-content: space-between;
}

.actual_user {
  img {
    height: 40px;
    width: 40px;
  }
}





.add-channel-top-button {
  border-radius: 100px;
  border: none;
  background-color: transparent;
  // border: 1px solid black;
  padding: 2px 2px 1px 2px;

  margin-left: auto;

  &:hover {
    background-color: rgb(236, 238, 254);
    color: rgb(83, 90, 241);

  }
}


.channel-submenu {
  padding-left: 32px;
  list-style: none;

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px 0;
  }

  .add-channel {}
}

.channel-submenu li:hover .tag-icon {
  background-image: url('/assets/icons/tag_hover.svg');
}

.tag-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url('/assets/icons/tag.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.expand-icon {
  height: 20px;
  width: 20px;
}




.dm-submenu {
  padding-left: 32px;
  list-style: none;

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px 0;
  }

  .user-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
  }
}