
<div class="devspace-container">
  
  <mat-drawer class="sidenav" #drawer [opened]="true" mode="side">

    <div class="devspace-header dFlex_ac p-16">
      <div class="dFlex_ac">
        <img src="/assets/img/workspace-logo.png" alt="">
        <span>Devspace</span>
      </div>
      <a class="new-message-button" href="#">
        <img src="/assets/icons/new-message.svg" alt="">
      </a>
    </div>

    <ul class="menu-items">
      <li routerLink="/dashboard">
        <mat-icon>fact_check</mat-icon>
        Dashboard
      </li>
      <li routerLink="/user">
        <mat-icon>person</mat-icon>
        User
      </li>
      <li routerLink="">
        <img src="/assets/icons/channels.svg" alt="" />
        Channels
      </li>
    </ul>
  </mat-drawer>
</div>