<div class="sidebar">
  <mat-drawer class="sidenav" #drawer [opened]="true" mode="side">

    <div class="devspace-header dFlex_ac p-16">
      <div class="dFlex_ac">
        <img src="/assets/img/workspace-logo.png" alt="">
        <span>Devspace</span>
      </div>
      <a class="new-message-button" href="#">
        <img src="/assets/icons/new-message.svg" alt="">
      </a>
    </div>

    <ul class="menu-items">
      <li (click)="toggleChannels()">
        <img [src]="showChannels ? '/assets/icons/sidebar/arrow_open.svg' : '/assets/icons/sidebar/arrow_close.svg'"
          alt="">

        <img src="/assets/icons/channels.svg" alt="" />
        Channels
        <button class="add-channel-top-button" (click)="addChannel($event)">
          <mat-icon>add</mat-icon>
        </button>
      </li>

      <ul *ngIf="showChannels" class="channel-submenu">
        <li *ngFor="let channel of channels">
          <a (click)="openChannelChat(channel)" class="dFlex_ac">
            <div class="tag-icon"></div>
            {{ channel }}
          </a>
        </li>

        <li class="add-channel" (click)="addChannel()">
          <mat-icon>add</mat-icon>
          Channel hinzufügen
        </li>
      </ul>

      <li (click)="toggleDMs()">
        <img [src]="showDMs ? '/assets/icons/sidebar/arrow_open.svg' : '/assets/icons/sidebar/arrow_close.svg'" alt="">
        Direktnachrichten
      </li>

      <ul *ngIf="showDMs" class="dm-submenu">
        <li class="current-user">
          <div class="actual_user dFlex_ac">
            <div class="status-container">
              <img class="profilePic" [src]="currentUserImage" alt="profile_picture" />
              <div class="status-circle online"></div>
            </div>
            <span>{{ currentUserName }}</span>
          </div>
        </li>

        <li *ngFor="let user of users">
          <a (click)="openChatWithUser(user.email, user.name, user.avatar)" class="dFlex_ac">
            <img class="user-avatar" [src]="user.avatar" alt="Avatar von {{ user.name }}" />
            {{ user.name }}
          </a>
        </li>
      </ul>
    </ul>
  </mat-drawer>
</div>