<section class="direct-message-section p-16 dFlex">

    <div class="chatpartner-info dFlex">
        <span>chat mit wem.</span>
        <span>avatar</span>
        <span>name</span>
    </div>

    <div class="chat-window">
        geht das

        <div class="messages">
            <div *ngFor="let msg of messages" class="message">
                <p><strong>{{ msg.senderId }}:</strong> {{ msg.text }}</p>
                <small>{{ msg.timestamp | date: 'short' }}</small>
            </div>
        </div>


    </div>

    <div class="message-window">
        <input type="text" placeholder="Nachricht an NAME">
        <button>senden</button>
    </div>


</section>