<div class="profile-info">
  <div class="profile-info-header">
    <h3>Profil</h3>
    <button mat-icon-button class="close-button" (click)="closeDialog()">
      <div class="change-image-on-hover">
        <img src="assets/icons/close_x.svg" alt="Close" />
        <img class="d-none" src="assets/icons/close_x_hover.svg" alt="Close" />
      </div>
    </button>
  </div>

  <div class="profile-info-image">
    <img [src]="profileImage" alt="User Image" />
  </div>

  <div class="profile-info-name-status">
    <div class="profile-info-name-status-upper">
      <span class="profile-info-name">{{ userName }}</span>
      <button class="edit-button" (click)="openEditProfile()">
        Bearbeiten
      </button>
    </div>
    <div class="profile-info-name-status-lower">
      <div class="active-circle"></div>
      <span>Aktiv</span>
    </div>
  </div>

  <div class="profile-info-mail">
    <div class="profile-info-mail-title">
      <mat-icon>mail</mat-icon>
      <span>E-Mail-Adresse</span>
    </div>
    <a href="mailto:{{ userEmail }}">{{ userEmail }}</a>
  </div>
  <!-- Button, um Usern eine Nachricht zu schicken. Wird gebraucht, wenn user das profil von anderen öffnet
  <div class="messageBox"> 
    <button class="sendMessage">
      <img
        src="../../assets/icons/profile/speech_bubble.svg"
        alt="speech bubble"
      />
      <p>Nachricht</p>
    </button>
  </div> -->
</div>
