<div class="reaction-tools-wrapper" [ngClass]="{ 'own': isOwn }">
    <div class="icon smiley" (click)="togglePicker($event)"></div>
    <div class="icon edit" *ngIf="isOwn" (click)="toggleOptions($event)"></div>
  
    <!-- Emoji Picker -->
    <div *ngIf="showPicker" class="emoji-picker-container" [class.right-aligned]="!isOwn" #emojiPicker
         (click)="$event.stopPropagation()">
      <emoji-mart
        [style]="{width: '280px'}"
        [i18n]="{search: 'Suchen', categories: {people: 'Smileys', nature: 'Natur', foods: 'Essen', activity: 'Aktivitäten', objects: 'Objekte', symbols: 'Symbole'}}"
        title="Emoji auswählen"
        [darkMode]="false"
        [set]="'apple'"
        [enableFrequentEmojiSort]="true"
        [showPreview]="false"
        [emojiSize]="20"
        [perLine]="7"
        [include]="emojiCategories"
        (emojiClick)="addReaction($event)">
      </emoji-mart>
    </div>
  
    <!-- Edit Option -->
    <div *ngIf="showOptions" class="edit-option" (click)="triggerEdit()">
      Nachricht bearbeiten
    </div>
  </div>