/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #eceefe;
}

body {
  margin: 0;
  font-family: "Nunito";
  font-weight: 400;
}

.mr-16 {
  margin-right: 16px;
}

.mt-32 {
  margin-top: 32px;
}
.pl-16 {
  padding-left: 16px;
}

.width100 {
  width: 100%;
}

.d_none {
  display: none !important;
}

.dFlex {
  display: flex;
}

.dFlex_ac_jc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dFlex_ac {
  display: flex;
  align-items: center;
}

.dFlex_jc {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-style: normal;
  src: url("assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 600;
  font-style: normal;
  src: url("assets/fonts/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Nunito-Bold.ttf") format("truetype");
}